/* first section starts here */
.first-section{
    height: 652px;
margin-top: 130px;
margin-bottom: 130px;
background-image: url("../assets/Hero-bg.png");

}
.container{
    
    display: flex;
    flex-direction: column;
}
    .container h2{
        display: flex;
flex-direction: column;
justify-content: flex;
align-items: center;
padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
    }
.sub-image{
   padding-left: 700px;
   padding-top: 30px;
}
.description-one{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.btn-deco{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
margin: 32px 560px 91px 750px;
border-radius: 8px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
background: rgb(13, 19, 33);
}
/* first section done */

/* second section starts here */
.second-section h1,p{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}

.part-one{
    padding: 50px 200px 50px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.part-two{
    padding: 50px 200px 50px 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.part-three{
    padding: 50px 200px 50px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-primary{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    
}
   /* second section done */

   /* third section starts here */
  .sub-four{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 48px 0px;
  }
  span{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
  }
  .video{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   margin-bottom: 180px;
  }
  /* third section ends here */

  /* fourth section starts here */
.sub-five{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.icon{
    display: flex;
flex-direction: row;
margin: 48px 110px;
gap: 20px;
}
.html{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.css{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.java{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.icon a{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
margin-top: 20px;
}
  /* fourth section ends here */
   
